.experiencia__subtitulo{ 
    margin: 2rem 0 0 0;
    color: #464646;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
}

@media screen and (max-width: 1023px) {
    .experiencia__subtitulo{
        width: 100%;
        font-size: 26px;
        text-align: center;
        margin: 2px;
    }    
}

@media screen and (max-width: 768px) {
    .experiencia__subtitulo{
        width: 100%;
        font-size: 26px;
        text-align: center;
        margin: 2px;
    }    
}

@media screen and (max-width: 378px) {
    .experiencia__subtitulo{
        width: 100%;
        font-size: 26px;
        text-align: center;
        margin: 2px;
    }    
}