.hobbies__cajas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}


@media screen and (max-width: 768px) {
    .hobbies__cajas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
    }    
}

@media screen and (max-width: 378px) {
    .hobbies__cajas{
        flex-direction: column;
    }    
}